body {
  margin: 0;
  background-image: url(assets/fire.jpg);
  background-size: cover;
}

.logo {
    margin: 20px auto 30px auto;
    display: block;
}

.game-wrapper {
    width: calc(100vw - 200px);
    height: calc(100vh - 300px);
    outline: 20px orange ridge;
    margin: 20px auto;
}

.volume-slider {
    opacity: 1;
    transition: 1s;
    accent-color: #1c274c;
}

.volume-slider:focus {
    outline: none;
    box-shadow: none;
}

.volume-control {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid #1c274c;
    width: 48px;
    height: 48px;
    background-color: #fff;
    transition: 1s;
    overflow: hidden;
}

.volume-control:hover {
    width: 200px;
    border-radius: 20px;
    transition: 1s;
}

.volume-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.volume-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.volume-button:focus {
    outline: none;
    box-shadow: none;
}

.hidden {
    display: none !important;
}

canvas {
  display: block;
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: auto;
    z-index: 1;    
    color: white;
    box-shadow: 0 5px 40px 10px rgba(0,0,0,0.5);
    padding: 25px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
        margin: 0;
        font-size: 48px;
        font-weight: normal;
    }

    p {
        margin: 10px 0 0;
    }
}

.final-popup {
    background-color: darkgreen;
}

.break-popup {
    background-color: #fff;
    color: black;
}